@{
    Layout = "~/Views/Shared/_ForLog.cshtml";
}
<div class="container" style=" position: absolute;
        left: 75%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px">
    <div class="row">
        <div class="col-md-3">
            <h3><center>Sign in</center></h3>
            <form style="position:relative; display: block" asp-action="Login" method="post">
                <div class="form-group">
                    <label>Login/Name</label>
                    <input type="text" class="form-control" id="username" name="username" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" id="password" name="password" />
                </div>
                <div class="form-group">
                    <label></label>
                    <center><input type="submit" class="btn btn-primary" value="Login" /></center>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Create">I don't registered yet</a>
    </div>
</div>
