@{
    ViewData["Title"] = "Home Page";
}
<body style="        background-image: url(https://sun9-11.userapi.com/impf/8PpI0xFn3n9ikaBowpuL8Gh6HqyPZiBnKuxxnw/J3Xt46O-O5o.jpg?size=1920x1080&quality=96&proxy=1&sign=96813b473770dcd1c17ddd7ecddc0da9&type=album);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;">
<div class="text-center">
    <h1 style="color:antiquewhite">Glava</h1> 
    <p style="color:antiquewhite"><em>"With us you will be satisfied"Images + CSS</em></p>
    <h5 style="color:antiquewhite">This app is quite different from other online food delivery apps. When someone places an order for food, the food valet who works for Postmates gets the alert and heads towards the restaurant for pickup. Then, they’ll pick and bring the ordered food directly at the customer’s doorstep. The delivery app not only offers food delivery, but also alcohol delivery to the user’s choice of location.</h5>
</div>
</body>